div {
  width: 30px;
  height: 30px;
}
.unit {
  background-color: #eee;
}
.item {
  width: 300px;
  background-color: red;
}
.unit2,
.item {
  background-color: green;
}
.c {
  color: red;
  width: 123px;
}
#header {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
